main {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

main section {
    width: 25%;
    border-radius: 0.2rem;
}

main section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

main section a {
    text-decoration: none;
    color: #FFF;
}

main section div button {
    outline: none;
    border: none;
    padding: 0.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    background: transparent;
    color: #FFF;
    font-size: 1.3rem;
    position: relative;
    bottom: 5rem;
}

.expenses-section {
    padding: 0.5rem 1rem;
    background: #3d3d3d;
}

.incomes-section {
    padding: 0.5rem 1rem;
    background: #3d3d3d;
}

.amounts-content {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    position: relative;
    bottom: 1rem;
}

.amounts-content div {
    display: flex;
    width: 100%;
}

header {
    padding: 0.8rem;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.positive-balance {
    background: #6BCB77;
}

.negative-balance {
    background: #FF6B6B;
}

.incomes-icon {
    background: #6BCB77;
    width: 20%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    bottom: 2.5rem;
}

.expenses-icon {
    background: #FF6B6B;
    width: 20%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    bottom: 2.5rem;
}

.incomes-icon i, .expenses-icon i {
    font-size: 3rem;
    color: #FFF;
}

.fa-trash {
    cursor: pointer;
}

.bg-modal-destroy {
    display: flex;
    justify-content: center;
}

.modal-destroy {
    position: absolute;
    background: rgba(61, 61, 61, 0.63);
    width: 20%;
    height: 10%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0.5rem;
}

.modal-destroy h3 {
    color: #FFF;
}

.modal-destroy div button {
    outline: none;
    border: none;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.modal-destroy div {
    display: flex;
    gap: 0.4rem;
}

.confirm-button {
    background: #6BCB77;
}

.cancel-button {
    background: #FF6B6B;
}

.blur-background {
    -webkit-filter: blur(5px) grayscale(50%);
}

.hidden {
    display: none;
}
