main {
    padding: 3rem;
}

main section {
    background: #3d3d3d;
    padding: 1rem;
    border-radius: 0.4rem;
    color: #FFF;
}

main section h4 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
form div {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 0.3rem;
}

form div input {
    padding: 0.2rem 0.8rem;
}

button {
    padding: 0.4rem 1.2rem;
    margin-top: 0.3rem;
    font-weight: bold;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    background: #445eb4;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    background: #2d4cbe;
}
